* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../imgs/Background.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: 'Orbitron', sans-serif;
}
  
header {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 3rem;
    padding-right: 3rem;
}

.header__h2 {
    padding-right: 8.5rem;
    padding-top: 0.5rem;
    color: gold;
    font-weight: 400;
    font-size: 1.4rem;
}

main {
    position: relative;
}

.search-wrapper{
    /* background-color: green; */
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    max-width: 30rem;
}


#search {
    
    font-size: 1.4rem;
    font-family: 'Orbitron', sans-serif;
}

.planet-search:hover {
cursor: pointer;
}

.placeholder {
    color: black;
    position: absolute;
    left: 4.5rem;
    top: 0.14rem;
    font-size: 1.4rem;
    opacity: 50%;
}

.generated-info {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

h3{
    margin: 0.5rem;
}

.moons {
    font-size: 0.8rem;
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: gold;
    display: inline-block;
    margin-top: 0.5rem;
    
}

button {
    all: unset;
    color: gold;
    cursor: pointer;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    font-family: 'Orbitron', sans-serif;
}

.back-x {
    position: absolute;
    top: 0;
    right: 1rem;
    margin: 0;
    
}

.planets-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-text {
    display: none;
}

.planets {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    border-radius: 50%;
    animation: rotate 38s linear infinite;
    background-image: url(../imgs/sun.png);
    background-size: 100px;
    background-repeat: repeat;
    box-shadow: inset 0.02px 2px 4px 2px rgb(2, 2, 0),
    inset -6px 0 12px 4px rgba(255, 255, 255, 0.3);
    transition: transform .7s ease-in-out;
}

.planets:hover {
    transform: rotate(360deg) scale(2);
}
.planets:hover .hover-text {
    cursor: pointer;
    display: block;
}


.left-arrow {
    color: gold;
    font-size: 3rem;
    position: absolute;
    left: 0;
    top: 3.8rem;
    cursor: pointer;
}

.right-arrow {
    color: gold;
    font-size: 3rem;
    position: absolute;
    right: 0;
    top: 3.8rem;
    cursor: pointer;
}

.left-searcharrow {
    color: gold;
    font-size: 3rem;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.right-searcharrow {
    color: gold;
    font-size: 3rem;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.info-wrapper {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 4rem;
}

.data-wrapper {
    display: flex;
    font-size: 0.8rem;
}

#Solen {
    height: 50rem;
    width: 50rem;
    position: absolute;
    left: -40rem;
    background-size: 50rem;
    box-shadow: inset 8px 36px 80px 36px rgb(2, 2, 0),
    inset -6px 0 12px 4px rgba(255, 255, 255, 0.3);
    animation: solen 45s linear infinite;
}

@keyframes solen {
    from { background-position: 0px 0px; }
    to { background-position: 50rem 0px; }
}

#Merkurius {
    height: 1rem;
    width: 1rem;
    background-color: #888888;
    background-image: url(../imgs/merkurius.png);
    animation: rotate 9s linear infinite;
}   

#Venus {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #E7CDCD;
    background-image: url(../imgs/venus.png);
    animation: rotate 12s linear infinite;
}   



#Jorden {
    height: 2rem;
    width: 2rem;
    background-color: #428ED4;
    background-image: url(../imgs/Jorden.png);
    animation: rotate 10s linear infinite;
}   

#Mars {
    height: 1rem;
    width: 1rem;
    background-color: #EF5F5F;
    background-image: url(../imgs/Mars.png);
    animation: rotate 8s linear infinite;
} 

#Jupiter {
    height: 5rem;
    width: 5rem;
    background-color: #E29468;
    background-image: url(../imgs/jupiter.png);
    animation: rotate 6s linear infinite;
} 

#Saturnus {
    height: 4.5rem;
    width: 4.5rem;
    background-color: #E29468;
    background-image: url(../imgs/saturnus.png);
    animation: rotate 8s linear infinite;
} 

#Uranus {
    height: 3rem;
    width: 3rem;
    background-color: #C9D4F1;
    background-image: url(../imgs/uranus.png);
    animation: rotate 6s linear infinite;
} 

#Neptunus {
    height: 3rem;
    width: 3rem;
    background-color: #7A91A7;
    background-image: url(../imgs/neptunus.png);
    animation: rotate 6s linear infinite;
} 

@keyframes rotate {
    0% {background-position-x: 0}
    100% {background-position-x: 100px}
}
